<script setup lang="ts">
const props = defineProps<{
  edit?: boolean,
}>();
console.log('edit:', props.edit)
</script>

<template>
  <div component="generic card" class="card">
    <div class="container-gc">
      <div class="back">&lt;-</div>
      <h3>GENERIC CARD</h3>
      <div class="actions" @click="$emit('toggle:edit')">Edit</div>
    </div>
  </div>
</template>

<style scoped>
h3 {
  margin: 0 0 1rem 0;
  font-size: 14px;
}

.card {
  border-radius: 8px;
  background-color: #03a9f4;
}

.container-gc {
  font-size: 14px;
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-auto-rows: min-content;
  grid-gap: 0.4rem;
}

.back {
  grid-column: 1;
}
</style>
