<script setup lang="ts">
import { ref } from 'vue';
let tall = ref(false);
function handleEdit() {
  tall.value = !tall.value;
}
</script>

<template>
  <div component="service hired" class="card container-sh" :class="{ tall }">
    <div class="back">&lt;-</div>
    <h3>SERVICE HIRED</h3>
    <div class="actions" @click="handleEdit">{{ tall ? 'Save' : 'Edit' }}</div>

    <fieldset class="field-group">
      <label class="label">Provider:</label>
      <input type="text" class="value-input" v-if="tall" value="Transport Plus S.L" />
      <p class="value" v-else>Transport Plus S.L</p>
    </fieldset>

    <fieldset class="field-group">
      <label class="label">Team Assigned:</label>
      <input type="text" class="value-input" v-if="tall" value="Team Assigned" />
      <p class="value" v-else>Jenaro Palomeque</p>
    </fieldset>

    <fieldset class="field-group">
      <label class="label">Plate:</label>
      <p class="value">3278-PLT</p>
    </fieldset>

    <fieldset class="field-group">
      <label class="label">Team telephone number:</label>
      <p class="value">683 893 892</p>
    </fieldset>
  </div>
</template>

<style scoped>
h3 {
  margin: 0 0 1rem 0;
  font-size: 14px;
}

.card {
  border-radius: 8px;
  background-color: lightgrey;
}

.container-sh {
  font-size: 14px;
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-auto-rows: min-content;
  grid-gap: 0.4rem;
}

.container-sh.card > .field-group {
  margin-bottom: 0.4rem;
}

.back {
  grid-column: 1;
}

.field-group {
  border: 0;
  grid-column: 2;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.value {
  margin: 0;
}

.value-input {
  border: solid 1px blue;
  height: 26px;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.2rem;
}

.tall {
  grid-row: auto / span 2;
}
</style>
