<script setup lang="ts">
const props = defineProps<{
  edit?: boolean,
}>();
console.log('edit:', props.edit)
</script>

<template>
  <div component="service supplements" class="card container-ss size">
    <h3>SERVICE SUPPLEMENT APPLIED</h3>
    <div class="extra">
      <fieldset class="field-group">
        <label class="label">Nighttime:</label>
        <span class="value">Yes</span>
      </fieldset>
      <span class="btn-edit">Edit</span>
      <span class="btn-delete">Delete</span>
    </div>
    <div class="extra">
      <fieldset class="field-group">
        <label class="label">Bank Hollidays:</label>
        <span class="value">Yes</span>
      </fieldset>
      <span class="btn-edit">Edit</span>
      <span class="btn-delete">Delete</span>
    </div>
    <div class="extra">
      <fieldset class="field-group">
        <label class="label">Kilometers exceed:</label>
        <span class="value">4Km</span>
      </fieldset>
      <span class="btn-edit">Edit</span>
      <span class="btn-delete">Delete</span>
    </div>
    <div class="actions">
      <label>Add Suplement</label>
    </div>
  </div>
</template>

<style scoped>
h3 {
  margin: 0 0 1rem 0;
  font-size: 14px;
}

.card {
  border-radius: 8px;
  background-color: #fbeeee;
}

.container-ss {
  font-size: 14px;
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 0.4rem;
}

.extra {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  background-color: #f3f6f7;
}

.field-group {
  display: flex;
  border: 0;
}

.actions {
  background-color: #f3f6f7;
}

.value {
  font-weight: bold;
}

.size {
  grid-column: auto / span 2;
}

@media only screen and (max-width: 600px) {
  .size {
    grid-column: auto;
  }
}
</style>
