<script setup lang="ts">
const props = defineProps<{
  edit?: boolean,
}>();
console.log('edit:', props.edit)
</script>

<template>
  <div component="service double" class="card size">
    <div class="container-sd">
      <div class="back">&lt;-</div>
      <h3>SERVICE DOUBLE</h3>
      <div class="actions" @click="$emit('toggle:edit')">Edit</div>

      <div class="block">
        <div class="col">
          <fieldset class="field-group">
            <label class="label">Provider:</label>
            <p class="value">Transport Plus S.L</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Team Assigned:</label>
            <p class="value">Jenaro Palomeque</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Plate:</label>
            <p class="value">3278-PLT</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Team telephone number:</label>
            <p class="value">683 893 892</p>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="field-group">
            <label class="label">Provider:</label>
            <p class="value">Transport Plus S.L</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Team Assigned:</label>
            <p class="value">Jenaro Palomeque</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Plate:</label>
            <p class="value">3278-PLT</p>
          </fieldset>

          <fieldset class="field-group">
            <label class="label">Team telephone number:</label>
            <p class="value">683 893 892</p>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
h3 {
  margin: 0 0 1rem 0;
  font-size: 14px;
}

.card {
  border-radius: 8px;
  background-color: lightgrey;
}

.container-sd {
  font-size: 14px;
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-auto-rows: min-content;
  grid-gap: 0.4rem;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-column: span 3;
}
.size {
  grid-column: auto / span 2;
}

@media only screen and (max-width: 600px) {
  .block {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-column: span 3;
  }

  .size {
    grid-row: auto / span 2;
    grid-column: auto;
  }
}

.back {
  grid-column: 1;
}

.field-group {
  border: 0;
  grid-column: 2;
  padding: 0;
}

.label {
  font-weight: bold;
}

.value {
  margin: 0;
}
</style>
