<script setup lang="ts">
import Card from './components/Card.vue';
import ServiceHired from './components/ServiceHired.vue';
import ServiceDouble from './components/ServiceDouble.vue';
import ServiceSupplements from './components/ServiceSupplements.vue';

/*
 * TODO
 * - La adaptacion 1 a dos celdas(vertical y horizontal) se tiene que gestionar desntro de la card
 * - Necesitamos una utilidad que calcule la ampliacion. Numca nos solaparemos fuera de la grilla
 */

const CELL_WIDTH: Readonly<number> = 290;
const CELL_HEIGHT: Readonly<number> = 250;
let edit = false;

const cell: Record<string, number | string> = {
  width: CELL_WIDTH,
  height: CELL_HEIGHT,
  widthInPx: `${CELL_WIDTH}px`,
  heightInPx: `${CELL_HEIGHT}px`,
}

function handleResize() {
  edit = !edit;
}

// const getRandomInt = (max: number): number => Math.floor(Math.random() * max);
const CARDS_LENGHT: Readonly<number> = 9;
const cards = Array.from({ length: CARDS_LENGHT }, (k, i) => (
  {
    key: k,
    index: i
  }
))
</script>

<template>
  <div class="container">
    <service-supplements @toggle:edit="handleResize" :edit="edit" />
    <service-hired @toggle:edit="handleResize" :edit="edit" />
    <service-double @toggle:edit="handleResize" :edit="edit" />
    <card v-for="card in cards" :key="card.index" @click="handleResize" />
  </div>
</template>

<style>
html,
body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  padding: 2.5rem;
}

.container {
  display: grid;
  grid-auto-rows: v-bind("cell.heightInPx");
  grid-auto-flow: dense row;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(5, v-bind("cell.widthInPx"));
}

@media only screen and (max-width: 1600px) {
  .container {
    display: grid;
    grid-auto-rows: v-bind("cell.heightInPx");
    grid-auto-flow: dense row;
    grid-gap: 2.5rem;
    --grid-cols: 4;
    grid-template-columns: repeat(
      var(--grid-cols),
      minmax(v-bind("cell.widthInPx"), 1fr)
    );
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    display: grid;
    grid-auto-rows: v-bind("cell.heightInPx");
    grid-auto-flow: dense row;
    grid-gap: 2.5rem;
    --grid-cols: 3;
    grid-template-columns: repeat(
      var(--grid-cols),
      minmax(v-bind("cell.widthInPx"), 1fr)
    );
  }
}

@media only screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-auto-rows: v-bind("cell.heightInPx");
    grid-auto-flow: dense row;
    grid-gap: 2.5rem;
    --grid-cols: 2;
    grid-template-columns: repeat(
      var(--grid-cols),
      minmax(v-bind("cell.widthInPx"), 1fr)
    );
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-auto-rows: v-bind("cell.heightInPx");
    grid-auto-flow: dense row;
    grid-gap: 1rem;
    --grid-cols: 1;
    grid-template-columns: repeat(
      var(--grid-cols),
      minmax(v-bind("cell.widthInPx"), 1fr)
    );
  }

  #app {
    padding: 1rem;
  }
}

.wide {
  grid-column: auto / span 2;
}

.tall {
  grid-row: auto / span 2;
}
</style>
